%header{ :id => 'branding' }= SITE_TITLE

%section{ :id => 'content' }
  %p{ :id => 'answer' }= @answer
  %p{ :id => 'comment' }= @comment
  %div{ :id => 'timer', :class => 'time' }
    %span{ :class => 'time_segment hour' }><
      = '%03d'.%(@countdown[:hour])
    = ':'
    %span{ :class => 'time_segment minute' }><
      = '%02d'.%(@countdown[:minute])
    = ':'
    %span{ :class => 'time_segment second' }><
      = '%02d'.%(@countdown[:second])

%section{ :id => '' }
  %form{ :action => '/timezone', :method => 'post' }
    %fieldset
      %legend set timezone
      %div
        %select{ :name => 'timezone' }
          - @timezones.each do |tz|
            %option{ :value => tz, :selected => tz == @current_timezone }= tz
      %div
        %button{ :type => 'submit' } set

%footer{ :id => 'credits' }
  %p
    &copy; 2009-2010
    %a{ :href => 'http://www.ravinggenius.com/' } Thomas Ingram
